
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
}

body {
        height: 100vh;
    }
    .flex{
        display: flex;
    }
    .text{
        color: rgb(102, 101, 101);
    }
    .text-bold{
        font-weight: bold;
    }
    .margin{
        margin-bottom: 10px;
    }
    .margin-2{
        margin-top: 5px;
    }
    .margin-1{
        margin-bottom: 20px;
    }
    
/* navbar section start here  */
    .navbar-section{
        height: 200px;
        background-image: url("resources/background-image@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1350px;
    }
/* navbar section ends here  */

/* card section start here  */
.card-section{
    max-width: 1275px;
    margin: 0 auto;
    margin-top: -100px;
}

.product-item{
    justify-content: space-between;
    align-items: center;
}
.product-items{
    gap: 30px;
}
.product-items, img{
    height: 98px;
    width: 98px;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product-img{
    border-radius: 10px;
    padding: 15px 30px;
    background-color: white;
}

#imac-img{
    padding: 15px 10px;
}
.product-name{
    font-weight: bold;
}
.product-color-name{
    margin-top: -20px;
}

.product-color-name, .product-available{
    margin-bottom: 0px;
    color: rgb(102, 101, 101);
}

.product-buy-details{
    gap: 60px;
}

.product-cancel{
    text-align: right;
    color: rgb(102, 101, 101);
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub-card-1{
    margin-bottom: 20px;
}

.coupon-area{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.coupon-in{
    width: 350px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
}

.coupon-btn{
    background-color: black;
    color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    border: none;
}

.coupon-details{
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-items-2{
    padding: 30px;
    border-radius: 0 20px 20px 0;
}
.card-items{
    border-radius: 20px 0 0 20px;
    padding: 30px;
    background-color: rgb(214, 212, 212);
}

#card-bg{
    background-color: aliceblue;
    font-weight: bold;
}

/* card section ends here  */

/* contact information  */
.input-1{
    margin: 10px 0 25px 0;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #e4e4e4;
}
.input-2{
    margin: 10px 0 20px 0;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    border: none;
    background-color: #e4e4e4;
}
.input-3{
    margin: 10px 0 25px 0;
}

.country-postal-code{
    gap: 20px;
}

.country-postal-code select{
    width: 280px;
    background-color: #e4e4e4;
    width: 45vh;
    padding: 13px;
    border-radius: 8px;
    border: none;

}
.country-postal-code input{
    width: 100%;
    padding: 13px;
    background-color: #e4e4e4;
    margin-top: 17px;
    border-radius: 8px;
    border: none;

}

.input-btn-2{
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-top:45px;
}

/* contact information  */

/* footer section start here  */
.author-info {
        max-width: 1275px;
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
        padding: 20px 0 20px 0;
        color: rgb(55, 65, 81);
    }

.author-info a {
        text-decoration: none;
    }
/* footer section ends here  */
  

/* media section  */

/* small screen  */
@media screen and (max-width: 576px) {
    .navbar-section{
        width: 545px;
    }
    .card{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        margin: 10px;
    }
    .card-items{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .card-items-2{
        padding: 10px;
        border-radius: 0 0 20px 20px;
    }
    .card-2-title{
        margin-top: 30px;
    }
     .country-postal-code select{
    width: 35vh;
    }
    .country-postal-code input{
        width: 100%;
    }
    footer{
        text-align: center;
    }
    .author-info{
        padding-left: 90px;
    }

}

/* tablet screen */
@media screen and (min-width: 576px) and (max-width:992px) {
     .navbar-section{
        width: 1069px;
    }
    .card{ 
        margin: 30px;
    }
    .card-items{
        width: 100%;
    }
    .card-items-2{
        padding: 20px;
        margin-right: -300px;
    }
     footer{
        text-align: center;
    }
    .author-info{
        margin-right: -300px;
    }
    .country-postal-code select{
    width: 20vh;
    }
    .country-postal-code input{
        width: 100%;
    }
}

/* media section  */